body{
    background-color: antiquewhite;
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav ul li{
    float: left;
    width: 25%;
    height: 2em;
    text-decoration: none;
    border-left: 1px solid white;
    box-sizing: border-box;
}
nav ul li a{
    background-color: darkblue;
    color: white;
    display: block;
    text-decoration: none;
    line-height: 2em;
}
.google{
    text-align: start;
}
.wiki{
    background-color: lightskyblue;
}
a.nu:visited{
    color: yellow;
}
a.google:hover{
    font-weight: 50em;
    color: lightskyblue;
    font-size: x-large;
}
a.wiki:active{
    color: red;
    font-style: italic;
}
input[type=text]:focus{
    color: green;
    font-size: 20px;
    border: solid 5px aqua
}
:target {
    background-color: lightskyblue;
  }
a:hover{
    background-color: lightblue;
}